.card {
  background-color: var(--background);
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 512px;
  gap: 32px;
  padding: 32px;
  border-radius: 32px;
}

.description-card {
  color: var(--color-5);
  text-align: center;
  font-size: 16px;
}

.title-card {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.container-inp-card {
  position: relative;
}

.icon-inp-card {
  color: var(--color-5);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 16px;
}

.inp-card {
  background-color: var(--background-1);
  border: none;
  outline: none;
  height: 40px;
  padding: 8px 16px 8px 40px;
  border-radius: 999px;
  font-size: 16px;
}

@media (width <= 480px) {
  .container-inp-card {
    width: 100%;
  }

  .inp-card {
    width: 100%;
  }

  .answer-card {
    width: 100%;
  }
}
