.circular-progress {
  background: conic-gradient(var(--color-1) calc(var(--value) * 1%), var(--background-1) 0);
  color: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: bold;
  height: 128px;
  width: 128px;
  border-radius: 999px;
  font-size: 24px;
  --thickness: 10px;
}

.circular-progress::before {
  background: var(--background);
  position: absolute;
  content: "";
  width: calc(100% - var(--thickness));
  height: calc(100% - var(--thickness));
  border-radius: 999px;
}

.value {
  position: relative;
  z-index: 1;
}

.lnk-card {
  background-color: var(--background-1);
  color: var(--color-5);
  display: flex;
  align-items: center;
  border: none;
  transition: all 0.2s ease;
  gap: 8px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 16px;
}

.lnk-card:hover {
  background-color: var(--background-2);
}

@media (width <= 480px) {
  .lnk-card {
    justify-content: center;
    width: 100%;
  }
}
