.circular-progress {
  --value: 90; /* procent wypełnienia (dla 9/10 = 90%) */
  --thickness: 10px;
  --color: #1d1d1f; /* ciemny zielonkawy kolor */
  --bg: #fff; /* jasnoszare tło pierścienia */
  --bg2: #f5f5f7; /* jasnoszare tło pierścienia */

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: conic-gradient(var(--color) calc(var(--value) * 1%), var(--bg2) 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  color: var(--color);
  position: relative;
  height: 128px;
  width: 128px;
}

.circular-progress::before {
  content: "";
  position: absolute;
  width: calc(100% - var(--thickness));
  height: calc(100% - var(--thickness));
  background: var(--bg);
  border-radius: 50%;
}

.value {
  position: relative;
  z-index: 1;
}

.lnk-card {
  background-color: var(--background-1);
  color: var(--color-5);
  display: flex;
  align-items: center;
  border: none;
  transition: all 0.2s ease;
  gap: 8px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 16px;
}

.lnk-card:hover {
  background-color: var(--background-2);
}

@media (width <= 480px) {
  .lnk-card {
    justify-content: center;
    width: 100%;
  }
}
